{% extends 'base.html' %}

{% block title %}Clientes{% endblock %}

{% block content %}

<div class="flex sp-btween al-center">
  <h1>{{ client.nombre }} {{ client.apellido}}</h1>
  <a href="{% url 'client_list' %}"  class="button button-m secondary-button">&larr; Volver a clientes</a>
</div>

<p>Email: {{ client.email }}</p>
<p>Empresa: {{ client.company }}</p>
<p>Comercial: {{ client.comercial }}</p>
<a href="{% url 'client_update' client.pk %}">Editar</a>
<a href="{% url 'client_delete' client.pk %}">Borrar</a>

<div class="flex al-center">
  <h2>Interacciones</h2>
  <a href="{% url 'interaction_create' client.pk %}" class="button button-m primary-button m-inl-10">Nueva interacción</a>
</div>

<ul>
  {% for interaction in client.interactions.all %}
  <li>
    {{ interaction.fecha|date:"d/m/Y H:i" }} - {{ interaction.tipo }} -
    {{interaction.comercial }}
    <p>{{ interaction.notas }}</p>
    <a href="{% url 'interaction_delete' interaction.pk %}">Borrar</a>
  </li>
  {% empty %}
  <li>Sin interacciones todavía.</li>
  {% endfor %}
</ul>

{% endblock %}