{% extends 'base.html' %}

{% block title %}Clientes{% endblock %}

{% block content %}

<div class="flex sp-btween al-center">
<h1>Clientes</h1>
<a href="{% url 'client_create' %}" class="button button-m primary-button">Nuevo cliente</a> 
</div>

<form method="get">
  <input
    type="text"
    name="q"
    value="{{ query }}"
    placeholder="Nombre, email o empresa"
  />
  <button type="submit">Buscar</button>
</form>

<ul>
  {% for client in clients %}
  <li>
    <a href="{% url 'client_detail' client.pk %}">{{ client.nombre }} {{ client.apellido }}</a>
    - {{ client.email }} - {{ client.company }}
  </li>
  {% empty %}
  <li>No se encontraron clientes.</li>
  {% endfor %}
</ul>

{% endblock %}