{% extends 'base.html' %}

{% block title %}Comercial{% endblock %}

{% block content %}

<h1>¿Desactivar a {{ object.username }}?</h1>

<p>
  El comercial no podrá loguearse, pero su historial de clientes e interacciones
  se conserva.
</p>
<div class="flex al-center">
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="button button-m primary-button">Confirmar</button>
  </form>
  <a href="{% url 'comercial_list' %}" class="button button-s secondary-button m-inl-10">&larr; Volver a comerciales</a>
</div>

{% endblock %}