{% extends 'base.html' %}

{% block title %}Empresas{% endblock %}

{% block content %}

<h1>¿Borrar {{ object.nombre }}?</h1>

<p>Los clientes asociados NO se borrarán, quedarán sin empresa asignada.</p>
<div class="flex al-center">
<form method="post">
  {% csrf_token %}
  <button type="submit" class="button button-m primary-button">Confirmar</button>
  </form>
  <a href="{% url 'company_list' %}" class="button button-s secondary-button m-inl-10">&larr; Volver a empresas</a> 
</div>
{% endblock %}