{% extends 'base.html' %}

{% block title %}Interacciones{% endblock %}

{% block content %}

<h1>¿Borrar esta interacción?</h1>
<p>{{ object.tipo }} - {{ object.fecha|date:"d/m/Y" }}</p>


<div class="flex al-center">
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="button button-m primary-button">Confirmar</button>
  </form>
  <a href="{% url 'client_detail' object.client.pk %}" class="button button-s secondary-button m-inl-10">&larr; Volver al cliente</a> 
</div>

{% endblock %}