.button {
  border: none;
  cursor: pointer;
}

.button-s {
  padding: 0.3rem 0.6rem;
  border-radius: 3px;
  font-size: 0.8rem;
}

.button-m {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  font-size: 1rem;
}

.primary-button {
  background-color: #2980b9;
  color: white;
}

.primary-button:hover {
  background-color: #21618c;
}

.secondary-button {
  background-color: #cccccc;
  color: #21618c;
}

.secondary-button:hover {
  background-color: #bbbbbb;
}
